<header id="main-header" class="py2 bg-info text-white">
  <div class="container">
    <h1><i class="bi bi-person"></i> Editar Cliente</h1>
  </div>
</header>


<form #CLienteForm="ngForm" (ngSubmit)="guardar(CLienteForm)">
  <!-- Botones -->
  <section id="actions" class="py-4 mb-4">
    <div class="container d-flex justify-content-between">
      <a [routerLink]="['/']" class="btn btn-primary">
        <i class="bi bi-arrow-left"></i> Regresar al Inicio
      </a>
      <button type="submit" class="btn btn-success">
        <i class="bi bi-check"></i> Guardar Cliente
      </button>
      <a href="#" (click)="eliminar()" class="btn btn-primary">
        <i class="bi bi-trash"></i> Eliminar Cliente
      </a>
    </div>
  </section>
  <section id="details">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h4>Editar Cliente</h4>
        </div>
        <div class="card-body">
          <!-- Campo de nombre -->
          <div class="d-flex algn-items-center mb-3">
            <label for="nombre" class="form-label me-3" style="min-width: 100 px">
              Nombre
            </label>
            <div class="col-sm-9">
              <input type="text" name="nombre" id="nombre" class="form-control" required minlength="2"
                [(ngModel)]="cliente.nombre" #nombre="ngModel">
              @if(nombre.invalid && nombre.touched){
              <div class="text-danger">
                Nombre es requerido y debe tener al menos 2 caracteres
              </div>
              }
            </div>

          </div>
          <!-- Campo de apellido -->
          <div class="d-flex algn-items-center mb-3">
            <label for="apellido" class="form-label me-3" style="min-width: 100 px">
              Apellido
            </label>
            <div class="col-sm-9">
              <input type="text" name="apellido" id="apellido" class="form-control" required minlength="2"
                [(ngModel)]="cliente.apellido" #apellido="ngModel">
              @if(apellido.invalid && apellido.touched){
              <div class="text-danger">
                Apellido es requerido y debe tener al menos 2 caracteres
              </div>
              }
            </div>

          </div>
          <!-- Campo de email -->
          <div class="d-flex algn-items-center mb-3">
            <label for="email" class="form-label me-3" style="min-width: 100 px">
              Email
            </label>
            <div class="col-sm-9">
              <input type="text" name="email" id="email" class="form-control" required [(ngModel)]="cliente.email"
                #email="ngModel">
              @if(email.invalid && email.touched){
              <div class="text-danger">
                Por favor ingrese un email Valido
              </div>
              }
            </div>

          </div>
          <!-- Campo de saldo -->
          <div class="d-flex algn-items-center mb-3">
            <label for="saldo" class="form-label me-3" style="min-width: 100 px">
              Saldo
            </label>
            <div class="col-sm-9">
              <input type="number" name="saldo" id="saldo" class="form-control" required min="0.01" step="0.01"
                [(ngModel)]="cliente.saldo" #saldo="ngModel">
              @if(saldo.invalid && saldo.touched){
              <div class="text-danger">
                El saldo es requerido y debe de ser positivo
              </div>
              }
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</form>
