<form action="" class="d-flex justify-content-between align-items-center my-4 w-50 mx-auto" (submit)="Enviar($event)">
    <input type="text" id="descripcion" name="descripcion"
    placeholder="descripción de productos" class="form-control me-2 w75"
    autocomplete="off"
    [(ngModel)]="inputDescripcion"/>

    <input type="text" id="descripcion" name="descripcion"
    placeholder="descripción de productos" class="form-control me-2 w75"
    autocomplete="off"
    [(ngModel)]="inputPrecio"/>
    <button type="submit" class="btn btn-primary">Agregar</button>
</form>